<style>
.error {
    padding: 1rem;
    text-align: center;
    background-color: #e6979b85;
    background-color: #eeeeeec4;
    border-left: 0.5rem solid;
    border-color: #9f4045;
    color: #9f4045;
}

.error-icon > path {
    fill: #9f4045;
}

.back {
    margin-left: 1rem;
}

#error-section {
    & > h1 {
        border: none;
        margin: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #9f4045;
        font-weight: 600;
        
        & > svg {
            margin-right: 0.5rem;
        }
    }
    
    & > p {
        margin: 0;
        color: #9f4045;
        font-size: 1rem;
    }
}

</style>

<section id="error-section" class="card">
    <h1>
        <svg class="error-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm-1.5-5.009c0-.867.659-1.491 1.491-1.491.85 0 1.509.624 1.509 1.491 0 .867-.659 1.509-1.509 1.509-.832 0-1.491-.642-1.491-1.509zM11.172 6a.5.5 0 0 0-.499.522l.306 7a.5.5 0 0 0 .5.478h1.043a.5.5 0 0 0 .5-.478l.305-7a.5.5 0 0 0-.5-.522h-1.655z" fill="#000000"/>
        </svg>
        ERROR
    </h1>
    <p>{{ error }}</p>
</section>
