{% extends "base.html" %} {% block main %}
<style>
  fieldset > ul {
    list-style: none;
    padding-left: 1rem;
  }

  #summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #fileInput {
    display: flex;
    flex-direction: column;
    gap: 0.33rem;
    align-items: center;
    width: 100%;
    border: 1px dashed var(--text);
    border-radius: 0.33rem;
    padding-block: 5rem;
    cursor: pointer;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }

    & > h5 {
      margin: 0;
    }

    & > svg > path {
      stroke: var(--text);
    }
  }

  #translateForm {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: var(--text);

    & > p {
      margin: 0;
    }

    & > button {
      height: 5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      margin-top: 0.6rem;
    }
  }

  fieldset {
    border: 1px solid var(--text);
    border-radius: 0.3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
</style>

<div class="container">
  {% if error %}
    {% include "error.html" %}
  {% endif %}

  <form id="translateForm" action="/translate" method="post" enctype="multipart/form-data">

    <div class="card">
      <label id="fileInput" for="myFile">
        <svg width="64" height="64" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 19H21M19 17V21M13 3H8.2C7.0799 3 6.51984 3 6.09202 3.21799C5.71569 3.40973 5.40973 3.71569 5.21799 4.09202C5 4.51984 5 5.0799 5 6.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.0799 21 8.2 21H12M13 3L19 9M13 3V7.4C13 7.96005 13 8.24008 13.109 8.45399C13.2049 8.64215 13.3578 8.79513 13.546 8.89101C13.7599 9 14.0399 9 14.6 9H19M19 9V12M9 17H12M9 13H15M9 9H10" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <h5>{{ locale.FORM_TITLE }}</h5>
      </label>
    </div>
    <input type="file" id="myFile" name="file" hidden/>

    <section class="card">
      <fieldset>
        <legend>{{ locale.FORM_SELECT_ENGINE }}</legend>
        <ul>
          <li>
            <label for="model_libre">
              <input type="radio" id="model_libre" name="engine" value="libre" />
              Libretranslate
            </label>
          </li>
          <li>
            <label for="model-gpt">
              <input type="radio" id="model-gpt" name="engine" value="gpt" />
              GPT 3.5
            </label>
          </li>
          <li>
            <label for="model_deepl">
              <input type="radio" id="model_deepl" name="engine" value="deepl" />
              Deepl
            </label>
          </li>
    <!--      <li>-->
    <!--        <label for="model_google">-->
    <!--          <input type="radio" id="model_google" name="engine" value="google" />-->
    <!--          Google-->
    <!--        </label>-->
    <!--      </li>-->
        </ul>
      </fieldset>
    </section>
    <button type="submit">
      <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.06 18.6699L16.92 14.3999L14.78 18.6699" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15.1699 17.9099H18.6899" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.9201 22.0001C14.1201 22.0001 11.8401 19.73 11.8401 16.92C11.8401 14.12 14.1101 11.8401 16.9201 11.8401C19.7201 11.8401 22.0001 14.11 22.0001 16.92C22.0001 19.73 19.7301 22.0001 16.9201 22.0001Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5.02 2H8.94C11.01 2 12.01 3.00002 11.96 5.02002V8.94C12.01 11.01 11.01 12.01 8.94 11.96H5.02C3 12 2 11 2 8.92999V5.01001C2 3.00001 3 2 5.02 2Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.00995 5.84985H4.94995" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.96997 5.16992V5.84991" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7.98994 5.83984C7.98994 7.58984 6.61994 9.00983 4.93994 9.00983" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.0099 9.01001C8.2799 9.01001 7.61991 8.62 7.15991 8" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 15C2 18.87 5.13 22 9 22L7.95 20.25" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22 9C22 5.13 18.87 2 15 2L16.05 3.75" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      {{ locale.FORM_SUBMIT }}
    </button>
  </form>


  <section style="margin-top: 5rem;">
    <h1>previously submitted</h1>
    <ul>
    {% for item in latest %}
    <li>
      <a href="/translations/{{ item.id }}">{{ item.subtitles[0] }}</a>
    </li>
    {% endfor %}
    </ul>
  </section>
</div>

{% endblock %}
