{% extends "base.html" %} {% block main %}
<style>
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner {
    --size: 1rem;
    display: block;
    height: var(--size);
    aspect-ratio: 1;
    border: 5px solid;
    border-radius: 50%;
    border-left: 5px solid transparent;
    animation: spin 1s linear infinite;
  }

  .dot {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }

  .hidden {
    opacity: 0;
  }

  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed var(--border);

    & > a {
      text-decoration: none;
    }
  }
</style>

<a href="/">↵ {{ new_upload }}</a>
{% if processing %}
<script>
  let dot = -1;
  let directionUp = true;
  setInterval(() => {
    const dots = [dot1, dot2, dot3];
    if (dot === -1) {
      directionUp = true;
    }
    if (dot === 3) {
      directionUp = false;
    }

    if (directionUp) {
      dot += 1;
    } else {
      dot -= 1;
    }
    if (dot >= 0 && dot <= 2) {
      dots[dot].classList.toggle("hidden");
    }
  }, 200);

  setInterval(async () => {
    console.info(location.href.split("/"))
    const id = document.location.href.split("/")[document.location.href.split("/").length - 1];
    const res = await fetch(`/api/translations/${id}/status`);
    const data = await res.json();
    if (data.status === "done" || data.status === "error") {
      location.reload();
    }
  }, 1000);
</script>
<h2 class="row">
  Translating
  <span id="dot1" class="dot hidden">.</span>
  <span id="dot2" class="dot hidden">.</span>
  <span id="dot3" class="dot hidden">.</span>
</h2>

<p style="display: flex; flex-direction: row">{{ item.subtitles[0] }}</p>
{% else %}
<h1>Completed [{{item.status}}]</h1>

<section class="card">
  {% for srt in item.subtitles %}
  <div class="list-item">
    {{ srt }}
    <a href="/translations/{{ item.id }}/download" download="{{ srt }}">⤵ Download</a>
  </div>
  {% endfor %}
</section>

{% endif %} {% endblock %}
